@import '../../assets/styles/mixins.scss';

#page-landing {
  @include full-screen;
  @include flex-center-x;
  background-color: var(--color-primary);
  color: var(--color-text-in-primary);
}
#page-landing-content {
  margin: auto;
}
.logo-container {
  text-align: center;
  margin: 3.2rem 0;

  img {
    height: 10rem;
  }
  h2 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
  }
}
.hero-image {
  width: 100%;
}
.buttons-container {
  @include flex-center-x;
  margin: 3.2rem 0;

  a {
    @include flex-center;
    width: 30rem;
    height: 10.4rem;
    border-radius: 0.8rem;
    font: 700 2rem Archivo;
    text-decoration: none;
    color: var(--color-button-text);
    transition: background-color 200ms;

    &:not(:last-child) {
      margin-right: 1.6rem;
    }
    img {
      width: 4rem;
      margin-right: 1rem;
    }
    &.study {
      background-color: var(--color-primary-lighter);
      &:hover {
        background-color: var(--color-primary-light);
      }
    }
    &.teach {
      background-color: var(--color-secondary);
      &:hover {
        background-color: var(--color-secondary-dark);
      }
    }
  }
}
.total-connections {
  @include flex-center;
  font-size: 1.4rem;

  img {
    margin-left: 0.8rem;
  }
}

@media (min-width: 1100px) {
  #page-landing-content {
    max-width: 1100px;
    display: grid;
    grid-template-rows: 350px 1fr;
    grid-template-columns: 2fr 0.5fr 1.5fr;
    grid-template-areas: "logo hero hero" "buttons buttons status";
  }
  .logo-container {
    grid-area: logo;
    margin: 0;
    align-self: center;
    text-align: initial;

    img {
      height: 100%;
    }
    h2 {
      font-size: 3.6rem;
    }
  }
  .hero-image {
    grid-area: hero;
    align-self: end;
  }
  .buttons-container {
    grid-area: buttons;
    justify-content: flex-start;

    a {
      font-size: 2.4rem;
    }
  }
  .total-connections {
    grid-area: status;
    justify-content: flex-end;
    white-space: nowrap;
  }
}