@import '../../assets/styles/mixins.scss';

#page-teacher-list {
  @include full-screen;

  #search-teachers {
    label {
      color: var(--color-text-in-primary);
    }
  }
  main {
    margin: 4.2rem auto;
    width: 90%;
  }
}

@media (min-width: 700px) {
  #page-teacher-list {
    max-width: 100%;

    #search-teachers {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 16px;

      .input-block + .input-block,
      .select-block + .input-block,
      .select-block + .select-block {
        margin: 0;
      }
    }
  }
}
