@import '../../assets/styles/mixins.scss';

.select-block {
  @include focus-border;

  + .input-block,
  + .select-block,
  + .textarea-block {
    margin-top: 1.4rem;
  }
  label {
    @include flex-center-y;

    small {
      margin-left: 0.8rem;
      color: var(--color-text-complement);
      font-size: 1.2rem;
      line-height: 2rem;

      &::before {
        content: '(';
      }
      &::after {
        content: ')';
      }
    }
    &:focus-within::after {
      bottom: 2px;
    }
  }
  select {
    @include rounded-input;
    width: 100%;
  }
}
